body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham Office', sans-serif;
    line-height: 1.5;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 70%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
  }

  h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #0000FF;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 70%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:20px;
  }

  .row.start {
    justify-content: flex-start;
  }

  .row.bb {
    border-bottom: 5px solid #000;
  }
  
  .column {
    box-sizing: border-box;
  }

  .column.image-column, .column.form {
    flex: 0;
  }

  .column.form {
    flex-basis: 15%;
    margin: 0 auto;
  }

  .column.image-column {
    flex-basis: 23%;
  }

  .column.arrow {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
  }

  .img-input-output {
    width: 300px;
  }

  .img-arrow {
    width: 60px;
  }

  .img-btn {
    width: 300px;
    color: #fff;
    background-color: #F9423A;
    border: none;
    font-weight: 700;
    padding: 12px 0;
    font-size: 22px;
    margin-top: -7px;
  }

  input::placeholder {
    color: #575757;
    font-weight: 700;
    font-size: 20px;
  }

  input {
    border: none;
    border-bottom: 1px solid #ececec;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
  }

  input[type="file"] {
    display: none;
  }

  label.img-btn {
    display: block;
    text-align: center;
    line-height: initial;
  }

  input[type="submit"], .btn-print {
    background-color: #565656;
    color: #fff;
    border-radius: 52px;
    padding: 12px 30px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    width: 100%;
  }

  .btn-print {
    background-color: #9D9D9D !important;
  }

  .btn-delete {
    background-color: #F9423A !important;
  }
  
  .image-radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-radio .option {
    flex-basis: 33%;
    max-width: 33%;
    text-align: center;
  }

  .image-radio label {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .image-radio img {
    border: 2px solid transparent;
    width: 100%;
  }
  
  .image-radio input[type="radio"] {
    display: none;
  }
  
  .image-radio input[type="radio"]:checked + label img {
    border-color: #F9423A;
  }

  .slider {
    width: 100%;
  }
  
  .slick-slide {
    width: calc(100% / 5);
    float: left;
    position: relative;
    padding: 20px;
  }

  .slick-slide img {
    width: 100%;
    /*height: auto;*/
    height: 150px;
    object-fit: cover;
  }

  .slick-prev,
  .slick-next {
    width: 73px;
    height: 129px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    z-index: 1;
  }

  .slick-prev {
    left: -100px;
    background-image: url("../img/prev.png");
  }

  .slick-next {
    right: -100px;
    background-image: url("../img/next.png");
  }

  .slick-slide h3 {
    text-align: center;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
  }

  @media (max-width: 1799px) {
    .img-arrow {
    width: 50px;
    }
  }

  @media (max-width: 1440px) {
    .img-input-output, .img-btn {
      width: 250px;
    }
  }

  @media (max-width: 1270px) {
    .img-arrow {
        width: 40px;
    }
    .column.form {
        max-width: 25%;
    }
  }

  @media (max-width: 1243px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 19px;
   }
  }

  @media (max-width: 1125px) {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 17px;
     }
    }