<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>Adastra AI</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gotham+Office&display=swap">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
  <div class="container">
    <div class="row start">
    <h1>Enhance your photography using AI</h1>
    </div>
      <div class="row start">
    <label> {{ label_text }}</label>
    </div>
    <div class="row">
    <div class="column image-column">
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <img src="{{ name_source}}" alt="" class="img-input-output">
        <label class="img-btn">
          <input type="file" name="uploaded-photo" onchange="form.submit()" >
          Upload
      </label>
        </form>
      </div>
      <div class="column arrow">
        <img src="../static/img/arrow.png" alt="" class="img-arrow">
      </div>
      <div class="column image-column">
        <form method="POST" action="/generate">
          <img src=  "{{ name_dest }}" alt="" class="img-input-output">
            <button class="img-btn">Generate</button>
        </form>
      </div>
      <div class="column form">
          <!-- <form method="POST" action="/send_email">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="submit" value="Send to Email">
            </form> -->

                <form method="POST" action="/print">
                <input type="submit" value="Print" class="btn-print">
                </form>

                <form method="POST" action="/delete">
                <input type="submit"  value="Delete" class="btn-print btn-delete">
                </form>

      </div>
    </div>

    <div class="row mt-20">
      <div class="slider image-radio">
        <div class="option"><input type="radio" id="0" name="options" value="0" checked><label for="0"><img src="../static/presets/anime.png" alt="Preset 1"><h3>Anime</h3></label></div>
        <div class="option"><input type="radio" id="1" name="options" value="1"><label for="1"><img src="../static/presets/cartoon.png" alt="Preset 2"><h3>Cartoon</h3></label></div>
        <div class="option"><input type="radio" id="2" name="options" value="2"><label for="2"><img src="../static/presets/clip_art.png" alt="Preset 3"><h3>Clip art</h3></label></div>
        <div class="option"><input type="radio" id="3" name="options" value="3"><label for="3"><img src="../static/presets/cubism.png" alt="Preset 4"><h3>Cubism</h3></label></div>
        <div class="option"><input type="radio" id="4" name="options" value="4"><label for="4"><img src="../static/presets/drawing.png" alt="Preset 5"><h3>Drawing</h3></label></div>
        <div class="option"><input type="radio" id="5" name="options" value="5"><label for="5"><img src="../static/presets/fantasy.png" alt="Preset 6"><h3>Fantasy</h3></label></div>
        <div class="option"><input type="radio" id="6" name="options" value="6"><label for="6"><img src="../static/presets/hyperrealism.png" alt="Preset 7"><h3>Hyperrealism</h3></label></div>
        <div class="option"><input type="radio" id="7" name="options" value="7"><label for="7"><img src="../static/presets/impressionism.png" alt="Preset 8"><h3>Impressionism</h3></label></div>
        <div class="option"><input type="radio" id="8" name="options" value="8"><label for="8"><img src="../static/presets/post_apocalyptic.png" alt="Preset 9"><h3>Post Apocalyptic</h3></label></div>
        <div class="option"><input type="radio" id="9" name="options" value="9"><label for="9"><img src="../static/presets/psychedelic.png" alt="Preset 10"><h3>Psychedelic</h3></label></div>
        <div class="option"><input type="radio" id="10" name="options" value="10"><label for="10"><img src="../static/presets/steampunk.png" alt="Preset 11"><h3>Steampunk</h3></label></div>
        <div class="option"><input type="radio" id="11" name="options" value="11"><label for="11"><img src="../static/presets/surrealism.png" alt="Preset 12"><h3>Surrealism</h3></label></div>
        <div class="option"><input type="radio" id="12" name="options" value="12"><label for="12"><img src="../static/presets/western.png" alt="Preset 13"><h3>Western</h3></label></div>

      </div>
    </div>

    <div class="row bb">
        <p>Elevate your photography with AI: upload, choose a template, and generate!</p>
    </div>    
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="../static/styles/slider.js"></script>
</body>
</html>
